***REMOVED***% extends "rest_framework/base.html" %***REMOVED***
***REMOVED***% block title%***REMOVED*** Worksheet App***REMOVED***% endblock%***REMOVED***
***REMOVED***% block bootstrap_theme %***REMOVED***
    <link rel="stylesheet" href="https://bootswatch.com/4/flatly/bootstrap.min.css" type="text/css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.12/css/dataTables.bootstrap4.min.css" rel="stylesheet"/>
***REMOVED***% endblock %***REMOVED***

***REMOVED***% block branding %***REMOVED***
    <a class='navbar-brand' rel="nofollow" href='***REMOVED******REMOVED*** BASE_URL ***REMOVED******REMOVED***'>
        Worksheet API
    </a>
***REMOVED***% endblock %***REMOVED***
***REMOVED***% block content %***REMOVED***
***REMOVED***% endblock %***REMOVED***