{% extends '../base.html' %}
{% load custom_filters %}
{% block content%}
{% if user.is_authenticated %}
<table class="table table-default table-hover">
    <thead>
        <tr>
            <th>Transaction</th>
            <th>Amount</th>
        </tr>
    </thead>
    <tbody>
        {% for transaction in transactions %}
        <tr class="{{ transaction.kind|set_row_class }}">
            <td>{{ transaction.name }}</td>
            <td>
                {% if transaction.kind|lower == 'debit' %}
                    {{ transaction.amount|to_negative }}
                {% else %}
                    {{ transaction.amount }}
                {% endif%}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<a href="{% url 'transaction_form' %}" class="btn btn-info">Register a new transaction</a>
{% endif %}

{% endblock %}